@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    font-family: 'Shippori Antique' , sans-serif;
    padding: 0;
    margin: 0;

    background-color: #ffffff00;
    outline: none;

    -webkit-tap-highlight-color: #ffffff00;
    -webkit-focus-ring-color: #ffffff00;
    outline: none;
    word-break: break-all;

    text-decoration: none;

    color: #313131;

    overflow: -moz-scrollbars-none; /* Firefoxでスクロールバーを非表示にする */
    -ms-overflow-style: none; /* IEとEdgeでスクロールバーを非表示にする */
}

.all {
    margin: 10px;
}
body{
    background-color: #cecece;
    overflow: auto;

    overflow: -moz-scrollbars-none; /* Firefoxでスクロールバーを非表示にする */
    -ms-overflow-style: none; /* IEとEdgeでスクロールバーを非表示にする */
}
body::-webkit-scrollbar {
    display: none; /* Webkitベースのブラウザ（Chrome, Safariなど）でスクロールバーを非表示にする */
}

h1 {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 900;
    color: #313131;
}

.head {
    background-color: #ffffff80;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 2px 0 #3131311e;
    border: solid 1px #fff;
    z-index: 1000;
    margin-top: 10px;
}
.headn {
    background-color: #ffffff80;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 2px 0 #3131311e;
    border: solid 1px #fff;
    z-index: 1000;
    margin-top: 10px;

    display: none;
/* ここはdisplay値で常時非表示 */
}
.heada {
    background-color: #ffffff80;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 2px 0 #3131311e;
    border: solid 1px #fff;
    z-index: 1001;
    box-sizing: border-box;
    position: fixed;
    width: calc(100% - 20px); /* Account for 10px margins on each side */
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
}



.page {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.alink {
    width: 95px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 1px 0 #313131;
}

.alink:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}

.imglogo {
    width: 250px;
    margin:25px 0 25px 0;
    border-radius: 50%;
    box-shadow: 10px 10px 0px 0 #313131;
    z-index: 999;
    margin-top: 130px;
}
.mes {
    display: flex;
    justify-content: center;
    z-index: 998;
}

/* ここはロゴ */
.sns {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.logo1 {
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 2px 0 #313131;
}
.logo2 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 #313131;

}
.logo3 {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 #313131;

}

.xlogo {
    width: 20px;
    display: flex;
}
.ylogo {
    width: 28px;
    display: flex;
}
.tlogo {
    width: 23px;
    display: flex;
}

.ft {
    background-color: #313131;
    width: 100%;
    height: 100px;
    position: relative;
    top: 10px;
    display: grid;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.ftf {
    color: #fff;
}
.li {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}
.copy {
    color: #f8f8f8;
    text-align: center;
    font-size: 12px;
    margin-top: -20px;
}

button {
    width: 80%;
    max-width: 500px;
    height: 30px;
    margin: 10px;
    outline: none;
    border: solid 1px #313131;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #313131;
    background-color: #f8f8f8;
}
button:hover {
    transform: scale(1.03);
    transition: transform 0.1s ease-in-out;
}
button:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}
.none {
    height: 120px;
}
hr {
    border: none;
    border-top: 1px solid #313131;
    border-color: #313133;
    height: 0.1px;
    background-color: #313131;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info {
    display: flex;
    gap: 10px;
    font-size: 14px;
    justify-content: center;
    align-items: center;

}

.head h3 {
    cursor: pointer;
}
.inf {
    text-align: left;
}

.shu1 {
    background-color: #19a400;
    color: #f8f8f8;
    padding: 3px;
    border-radius: 5px;
}



.noned {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.noned.open {
    max-height: 200px; /* Set an appropriate max-height */
}
